<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.group1.mapper.Group1Mapper">
	<insert id="insert">
		INSERT INTO GROUP1 (
		g_id, id, g_title, category,
		user_max,
		price, area, addr1, addr2,
		latitude, longitude,
		start_date,
		last_date, comment1, comment2, type
		) VALUES (
		group1_seq.nextval, 1,
		#{g_title}, #{category}, #{user_max},
		#{price}, substr(#{addr1}, 6, 2),
		#{addr1}, #{addr2},
		#{latitude}, #{longitude},
		#{start_date,
		jdbcType=DATE}, #{last_date, jdbcType=DATE},
		#{comment1}, #{comment2},
		#{type}
		)
	</insert>

	<select id="list">
		SELECT g_id, g_title, category, user_max,
		price, area,
		comment2, type,
		TO_CHAR(start_date, 'FMMonth FMDD"일"') AS
		start_date
		FROM GROUP1
		WHERE type=#{type}
	</select>

	<select id="read">
		SELECT *
		FROM
		GROUP1
		WHERE g_id= #{gId}
	</select>

	<update id="update">
		UPDATE GROUP1 SET
		G_TITLE = #{g_title}, START_DATE = #{start_date, jdbcType=DATE},
		LAST_DATE = #{last_date, jdbcType=DATE},
		USER_MAX = #{user_max}, PRICE = #{price}, ADDR1 = #{addr1},
		ADDR2 = #{addr2}, COMMENT1 = #{comment1}, COMMENT2 = #{comment2},
		TYPE = #{type}, CATEGORY = #{category},
		LATITUDE = #{latitude}, LONGITUDE = #{longitude}
		WHERE g_id = #{g_id}
	</update>
</mapper>