<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.admin.mapper.DashboardAdminMapper">
	<select id="getCurrentCustomerCount" resultType="double">
		SELECT COUNT(*) AS reg_count
		FROM member
		WHERE TO_DATE(reg_date, 'YY/MM/DD')
		BETWEEN TRUNC(SYSDATE, 'MM') AND SYSDATE
	</select>
	<select id="getMonthCustomerCount" resultType="double">
		SELECT COUNT(*) AS reg_count
		FROM member
		WHERE TO_DATE(reg_date, 'YY/MM/DD')
		BETWEEN TRUNC(ADD_MONTHS(SYSDATE, -1), 'MM')
		AND LAST_DAY(ADD_MONTHS(SYSDATE, -1))
	</select>
	<select id="getCurrentProfit" resultType="double">
		SELECT NVL(SUM(amount), 0)
		FROM Transaction_log
		WHERE TO_DATE(reg_date, 'YY/MM/DD') BETWEEN TRUNC(SYSDATE, 'MM') AND SYSDATE
	</select>
	<select id="getMonthProfit" resultType="double">
		SELECT NVL(SUM(amount), 0)
		FROM Transaction_log
		WHERE TO_DATE(reg_date, 'YY/MM/DD') BETWEEN TRUNC(ADD_MONTHS(SYSDATE,
		-1), 'MM')
		AND LAST_DAY(ADD_MONTHS(SYSDATE, -1))
	</select>
	<select id="getCurrentGroupMember" resultType="double">
		SELECT COUNT(*)
		FROM member_group mg
		JOIN group_morak gm ON mg.group_no = gm.group_no
		WHERE mg.status IN ('LEADER', 'MEMBER')
		AND TO_DATE(gm.reg_date, 'YY/MM/DD') BETWEEN TRUNC(SYSDATE, 'MM') AND
		SYSDATE
	</select>
	<select id="getMonthGroupMember" resultType="double">
		SELECT COUNT(*)
		FROM member_group mg
		JOIN group_morak gm ON mg.group_no = gm.group_no
		WHERE mg.status IN ('LEADER', 'MEMBER')
		AND TO_DATE(gm.reg_date, 'YY/MM/DD') BETWEEN TRUNC(ADD_MONTHS(SYSDATE,
		-1), 'MM')
		AND LAST_DAY(ADD_MONTHS(SYSDATE, -1))
	</select>
	<select id="getCurrentVisitLog" resultType="double">
		SELECT COUNT(*)
		FROM visit_log
		WHERE visit_date BETWEEN TRUNC(SYSDATE, 'MM') AND SYSDATE
	</select>
	<select id="getMonthVisitLog" resultType="double">
		SELECT COUNT(*)
		FROM visit_log
		WHERE visit_date BETWEEN TRUNC(ADD_MONTHS(SYSDATE, -1), 'MM')
		AND LAST_DAY(ADD_MONTHS(SYSDATE, -1))
	</select>
</mapper>