<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mypage.mapper.MypageMapper">

	<select id="selectTransactionLog"
		resultType="com.project.mypage.model.TransactionLog">
		SELECT type,amount,reg_date
		FROM Transaction_log
		WHERE no = #{no}
	</select>
</mapper>