<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mypage.mapper.MypageMapper">

	<select id="selectTransactionLog"
		resultType="com.project.mypage.model.TransactionLog">
		SELECT type,amount,reg_date
		FROM Transaction_log
		WHERE no = #{no}
	</select>
	<update id="insertProfile">
		UPDATE member
		SET self_pr = #{pr}, IMG_URL = #{fileName}
		WHERE no = #{no}
	</update>
	<update id="chargeAmount">
		UPDATE member
		SET money = money + #{money}
		WHERE no = #{no}
	</update>
	<select id="selectProfileImg"
		resultType="String">
		SELECT IMG_URL
		FROM member
		WHERE no = #{no}
	</select>
	<insert id="insertHistory">
		insert into Transaction_log values
		(transaction_seq.nextval,#{no},#{type},#{amount},sysdate)
	</insert>
	<select id="getGroupMembersByUserNoHeart"
		resultType="com.project.mypage.model.GroupMember">
		SELECT
		mg.no,
		gm.group_title AS groupName,
		gm.start_date AS startDate,
		gm.last_date AS endDate,
		mg.status AS statues,
		gm.price AS amount
		FROM member_group mg
		JOIN group_morak gm ON mg.group_no = gm.group_no
		WHERE mg.no = #{no} AND mg.status = '찜'
		ORDER BY gm.start_date
	</select>
	<select id="getGroupMembersByUserNoOngoing"
		resultType="com.project.mypage.model.GroupMember">
		SELECT
		mg.no,
		gm.group_title AS groupName,
		gm.start_date AS startDate,
		gm.last_date AS endDate,
		mg.status AS status,
		gm.price AS amount
		FROM member_group mg
		JOIN group_morak gm ON mg.group_no = gm.group_no
		WHERE mg.no = #{no}
		AND CURRENT_DATE BETWEEN gm.start_date AND gm.last_date
		ORDER BY gm.start_date
	</select>

	<select id="getGroupMembersByUserNoEnd"
		resultType="com.project.mypage.model.GroupMember">
		SELECT
		mg.no,
		gm.group_title AS groupName,
		gm.start_date AS startDate,
		gm.last_date AS endDate,
		mg.status AS status,
		gm.price AS amount
		FROM member_group mg
		JOIN group_morak gm ON mg.group_no = gm.group_no
		WHERE mg.no = #{no}
		AND CURRENT_DATE > gm.last_date
		ORDER BY gm.start_date
	</select>

</mapper>