<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.project.group_morak.mapper.GroupMorakMapper">
	<insert id="insert">
		INSERT INTO GROUP_MORAK (
		group_no, no, group_title,
		category,
		user_max,
		price, area, addr1, addr2,
		latitude, longitude,
		start_date,
		last_date, comment1, comment2, type, img_url1, img_url2,
		img_url3
		) VALUES (
		group_seq.nextval, #{no},
		#{group_title}, #{category},
		#{user_max},
		#{price}, #{area},
		#{addr1}, #{addr2},
		#{latitude},
		#{longitude},
		#{start_date,
		jdbcType=DATE}, #{last_date,
		jdbcType=DATE},
		#{comment1}, #{comment2},
		#{type}, #{img_url1,
		jdbcType=BLOB},
		#{img_url2, jdbcType=BLOB},#{img_url3, jdbcType=BLOB}
		)
	</insert>

	<insert id="insertLeader">
		INSERT INTO MEMBER_GROUP(MEMBER_GROUP_NO, NO,
		GROUP_NO, STATUS)
		VALUES(member_group_seq.nextval, #{no},
		group_seq.nextval-1, 'LEADER')
	</insert>

	<select id="list">
		SELECT group_no, group_title, category, user_max,
		price, area,
		comment2, type, reg_date,
		start_date,
		<!-- TO_CHAR(start_date, 'FMMonth FMDD"일"') AS start_date, -->
		img_url1
		FROM GROUP_MORAK
		WHERE type=#{type}
		<!-- AND approval='Y' -->
	</select>

	<select id="read">
		SELECT
		G.*,
		MG.*,
		MG.NO AS MEMBER_NO,
		M.NICKNAME,
		M.IMG_URL AS PROFILE_IMG,
		M.STAR_SUM,
		COUNT(CASE WHEN MG.STATUS =
		'MEMBER' THEN 1 END) OVER (PARTITION BY G.GROUP_NO) AS
		MEMBER_COUNT
		FROM GROUP_MORAK G
		LEFT JOIN MEMBER_GROUP MG ON G.GROUP_NO =
		MG.GROUP_NO
		INNER JOIN MEMBER M ON G.NO = M.NO
		WHERE G.GROUP_NO =
		#{groupNo}
	</select>

	<update id="update">
		UPDATE GROUP_MORAK SET
		GROUP_TITLE = #{group_title},
		START_DATE = #{start_date, jdbcType=DATE},
		LAST_DATE = #{last_date,
		jdbcType=DATE},
		USER_MAX = #{user_max}, PRICE = #{price}, ADDR1 =
		#{addr1},
		ADDR2 = #{addr2}, area= #{area}, COMMENT1 = #{comment1},
		COMMENT2 =
		#{comment2},
		TYPE = #{type}, CATEGORY = #{category},
		LATITUDE
		=
		#{latitude}, LONGITUDE = #{longitude},
		IMG_URL1 = #{img_url1,
		jdbcType=BLOB},IMG_URL2 = #{img_url2, jdbcType=BLOB}, IMG_URL3 =
		#{img_url3, jdbcType=BLOB}
		WHERE group_no = #{group_no}
	</update>

	<insert id="join">
		INSERT INTO MEMBER_GROUP
		VALUES(member_group_seq.nextval, #{no}, #{group_no}, 'WAITING', #{pr})
	</insert>

	<update id="changeMoney">
		UPDATE MEMBER SET MONEY = MONEY - #{price} WHERE NO =
		#{no}
	</update>

	<update id="refundMoney">
		UPDATE MEMBER SET MONEY = MONEY + (SELECT PRICE FROM
		GROUP_MORAK WHERE GROUP_NO = #{group_no})
		WHERE NO = #{no}
	</update>

	<insert id="insertBasket">
		INSERT INTO BASKET
		SELECT basket_seq.nextval, #{no},
		#{group_no}, G.PRICE, SYSDATE, G.START_DATE, G.LAST_DATE, 'BASKET'
		FROM GROUP_MORAK G
		WHERE G.GROUP_NO = #{group_no}
	</insert>

	<select id="memberList">
		SELECT *
		FROM MEMBER_GROUP MG INNER JOIN MEMBER M ON
		MG.NO = M.NO
		WHERE GROUP_NO = #{group_no}
	</select>

	<select id="groupAuth">
		SELECT STATUS
		FROM MEMBER_GROUP MG INNER JOIN MEMBER M
		ON MG.NO = M.NO
		WHERE GROUP_NO = #{group_no}
	</select>

	<select id="memberStatusUpdate">

		UPDATE MEMBER_GROUP SET STATUS = #{status,
		jdbcType=VARCHAR}

		WHERE NO = #{no} AND GROUP_NO = #{group_no}
	</select>

	<insert id="memberReport">
		INSERT INTO REPORT(rep_no, reporter_no, reported_no,
		reason)
		VALUES(report_seq.NEXTVAL, #{reporter_no}, #{reported_no}, #{reason})
	</insert>
	<select id="getGroupsByCategory"
		resultType="com.project.group_morak.model.GroupMorak">
		SELECT
		gm.group_no AS groupNo,
		gm.group_title AS gTitle,
		gm.start_date AS startDate,
		gm.img_url1 AS imgUrl1,
		gm.area AS addr1
		FROM group_morak gm
		JOIN member m ON gm.no = m.no
		WHERE gm.category = #{category}
		AND gm.start_date > CURRENT_DATE
		ORDER BY m.star_sum DESC
		FETCH FIRST 6 ROWS ONLY
	</select>
	<select id="getGroupsByCategoryAll"
		resultType="com.project.group_morak.model.GroupMorak">
		SELECT
		gm.group_no AS groupNo,
		gm.group_title AS gTitle,
		gm.start_date AS startDate,
		gm.img_url1 AS imgUrl1,
		gm.area AS addr1
		FROM group_morak gm
		JOIN member m ON gm.no = m.no
		WHERE gm.start_date > CURRENT_DATE
		ORDER BY m.star_sum DESC
		FETCH FIRST 6 ROWS ONLY
	</select>

	<select id="countGroupMember">
		SELECT
		COUNT(*) - 1 AS MEMBER_COUNT,
		G.USER_MAX
		FROM MEMBER_GROUP M
		INNER JOIN GROUP_MORAK G ON M.GROUP_NO = G.GROUP_NO
		WHERE M.GROUP_NO = #{groupNo}
		GROUP BY USER_MAX
	</select>

</mapper>