<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.group_morak.mapper.GroupMorakMapper">
	<insert id="insert">
		INSERT INTO GROUP_MORAK (
		group_no, no, group_title, category,
		user_max,
		price, area, addr1, addr2,
		latitude, longitude,
		start_date,
		last_date, comment1, comment2, type, img_url1, img_url2, img_url3
		) VALUES (
		group_seq.nextval, 1,
		#{group_title}, #{category}, #{user_max},
		#{price}, substr(#{addr1}, 6, 2),
		#{addr1}, #{addr2},
		#{latitude}, #{longitude},
		#{start_date,	
		jdbcType=DATE}, #{last_date, jdbcType=DATE},
		#{comment1}, #{comment2},
		#{type}, #{img_url1, jdbcType=BLOB}, #{img_url2,
		jdbcType=BLOB},#{img_url3, jdbcType=BLOB}
		)
	</insert>

	<select id="list">
		SELECT group_no, group_title, category, user_max,
		price, area,
		comment2, type,
		TO_CHAR(start_date, 'FMMonth FMDD"일"') AS
		start_date,
		img_url1
		FROM GROUP_MORAK
		WHERE type=#{type}
	</select>

	<select id="read">
		SELECT *
		FROM
		GROUP_MORAK
		WHERE group_no= #{groupNo}
	</select>

	<update id="update">
		UPDATE GROUP_MORAK SET
		GROUP_TITLE = #{group_title}, START_DATE = #{start_date, jdbcType=DATE},
		LAST_DATE = #{last_date, jdbcType=DATE},
		USER_MAX = #{user_max}, PRICE = #{price}, ADDR1 = #{addr1},
		ADDR2 = #{addr2}, COMMENT1 = #{comment1}, COMMENT2 = #{comment2},
		TYPE = #{type}, CATEGORY = #{category},
		LATITUDE = #{latitude}, LONGITUDE = #{longitude},
		IMG_URL1 = #{img_url1, jdbcType=BLOB},IMG_URL2 = #{img_url2, jdbcType=BLOB}, IMG_URL3 = #{img_url3, jdbcType=BLOB}
		WHERE group_no = #{group_no}
	</update>
	
	<insert id="join">
		INSERT INTO MEMBER_GROUP
		VALUES(member_group_seq.nextval, #{no}, #{group_no}, #{status}, #{pr})
	</insert>
	
	<!-- <update id="join">
		UPDATE MEMBER SET MONEY = MONEY - #{price}
	</update> -->
</mapper>