.announcements_table {
  width: 100%;
}

.nav_notice {
  font-family: 'Freesentation-9Black';
  font-weight: 100;
}

.faq_accordion_title {
  font-family: 'Pretendard-Regular';
  font-weight: 900;
  font-size: large;
  display: flex;
  align-items: center;
  padding: 20px 0px 20px 20px;
}

.faq_accordion_body {
  font-family: 'Pretendard-Regular';
  font-weight: 100;
  font-size: medium;
  display: flex;
  align-items: center;
  word-wrap: break-word; /* 단어가 길면 줄 바꿈을 자동으로 함 */
  white-space: normal;
  margin-left: 20px;
}

.accordion-button.active,
.accordion-button:focus,
.accordion-body:focus,
.accordion-body.active {
  background-color: #f8f8f8;
  color: rgb(0, 0, 0);
}
.accordion-button:not(:focus),
.accordion-button:not(:focus),
.accordion-body:not(:focus),
.accordion-body:not(:focus) {
  border-radius: 10px;
  background-color: rgba(46, 46, 46, 0.03);
  color: rgb(0, 0, 0);
}

.faq_container {
  overflow-x: visible;
  padding: 0;
  margin: 0;
}

.btn_group4 {
  position: absolute;
  top: 170px;
  right: 172px;
}

.inputform {
  position: relative;
  left: 45px;
}
.register_btn {
  position: relative;
  left: 45px;
  margin-top: 20px;
  margin-bottom: 10px;
}
