.announcements_table {
  width: 100%;
  font-family: 'Freesentation-9Black';
}

.nav_notice {
  font-family: 'Freesentation-9Black';
}

/* @font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
} */

.table_td_title {
  font-family: 'Pretendard-Regular';
  font-weight: 900;
  padding: 15px 0px 15px 0px;
  font-size: large;
  width: 70%;
}
.title_link {
  color: black;
  text-decoration: none;
}
.title_link:hover {
  transition: 0.5s all;
  color: #ff6745c2;
}
.table_td_date {
  font-family: 'Pretendard-Regular';
  text-align: end;
  font-size: medium;
  width: 30%;
  opacity: 60%;
}

.notice_read {
  margin: 80px 130px 80px 130px;
}
.notice_read2 {
  margin: 10px 130px 10px 130px;
}

.notice_title {
  font-family: 'Freesentation-9Black';
  font-size: 55px;
}

.notice_date {
  font-family: 'Pretendard-Regular';
  font-size: 13px;
  opacity: 70%;
  margin-left: 20px;
}

.notice_content {
  display: flex;
  font-family: 'Pretendard-Regular';
  font-size: 19px;
}

.notice_hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.notice_hr2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.notice_btn {
  text-align: center;
  margin: 0px 0px 40px 0;
  font-family: 'Pretendard-Regular';
}

.notice_btn span {
  background-color: #ff2d00;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.notice_btn span:hover {
  transition: 0.5s all;
  background-color: #ff6745c2;
  color: white;
}
.btn_group {
  position: relative;
  bottom: 40px;
  left: 1040px;
  width: 180px;
  display: flex;
  justify-content: space-between;
}
.btn_group2 {
  position: relative;
  bottom: -15px;
  left: 795px;
  width: 180px;
  display: flex;
  justify-content: space-between;
}
.btn_group3 {
  position: relative;
  left: 1040px;
  bottom: 45px;
}
.btn_modify_remove {
  width: 80px;
}
.btn_list {
  text-decoration: none;
}
.btn1 {
  background-color: #ec6e43;
}
.btn2 {
  background-color: #db5932;
}
