.card_heartImg {
  position: relative; /* 기준이 되는 부모 요소 */
  z-index: 1; /* 낮은 z-index 설정 */
}

.favorite {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.heartIcon {
  color: #ff2d00;
  font-size: 24px;
}

.wishList {
  margin: 30px;
}

.page-link:hover {
  background-color: #6c757db7;
  color: white;
}

.page-link:active {
  background-color: #6c757db7;
  color: white;
}

.WishListNo_meetings {
  font-weight: 900;
  font-size: 25px;
}
