.review_header {
  margin-top: 50px;
  position: relative;
  width: 85%;
  margin-left: 120px;
}

.review_title {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.review_writer {
  display: flex;
  justify-content: space-between;
}

.review_image {
  width: 60%;
}

.reviewBoardLink {
  display: black;
  font-size: 13px;
  width: 80px;
  color: rgba(0, 0, 0, 0.5);
}
.reviewBoardLink:hover {
  color: black;
  font-size: 13px;
}

.review_main {
  border: none;
  scrollbar-width: none;
  width: 70%;
}
.review_main:focus {
  border: none;
  scrollbar-width: none;
  width: 70%;
}

.review_content > .review_p {
  font-size: 14px;
}

.review_list {
  position: relative;
  margin: 20px 0px 0px 0px;
  font-size: 13px;
}

.review_list span {
  margin: 0 5px;
  padding: 7px 13px;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
}

.review_list span:hover {
  background-color: #f8f9fa;
}

.review_regist_commenet {
  width: 8%;
  margin-top: 20px;
  position: relative;
  font-size: 13px;
}

.review_regist_commenet span {
  margin-left: 10px;
  padding: 7px 13px;
  border: 1px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
}

.review_regist_commenet span:hover {
  background-color: #f8f9fa;
}

#review_date {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.register_btn {
  background-color: #ff2d00;
  border: 1px solid #ff6745;
  position: relative;
  right: 10px;
  height: 35px;
  text-align: center;
  color: white;
}

.register_btn:hover {
  color: white;
  background-color: #ff67458f;
  border: 1px solid #ff674500;
}

.blacked_btn {
  width: 270px;
  text-align: center;
}
.div_btn {
  margin: 0 auto;
}
.reply_hr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.deleteReply {
  cursor: pointer;
}
.deleteReply:hover {
  color: #ff2d00;
}
