.review_register {
  margin-top: 50px;
  width: 100%;
}

#review_category {
  width: 150px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #f8f9fa;
}

#review_category:focus {
  outline: none;
  background-color: #fff;
}

#review_rating > option {
  padding: 10px;
}

.review_register_button {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.review_register_btn {
  background-color: #ff6745;
  border: 1px solid #ff6745;
  margin-top: 5px;
  position: relative;
  text-align: center;
  right: 10px;
  font-size: 13px;
}
.review_register_btn:hover {
  background-color: #ff67458f;
  border: 1px solid #ff674500;
  margin-top: 5px;
  position: relative;
  text-align: center;
  right: 10px;
  font-size: 13px;
}

.review_register_btn span {
  margin: 0 5px;
  padding: 7px 13px;

  border-radius: 20px;
  cursor: pointer;
  width: 200px;
}

.review_register_btn span:hover {
  background-color: rgba(255, 255, 255, 0.658);
}

.review_input_title {
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 150px;
}

.review_input_title:focus {
  outline: none;
}

#review_rating {
  width: 120px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #ffffff;
}

#review_rating:focus {
  outline: none;
  background-color: #fff;
}

.meetingsName {
  font-size: 15px;
  margin-left: 10px;
}

.star {
  width: 11px;
}
