<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.admin.mapper.CommentAdminMapper">
	  <!-- 댓글 목록 조회 -->
    <select id="getComments" resultType="com.project.admin.model.CommentAdmin">
        SELECT * FROM comment ORDER BY created_at DESC
    </select>

    <!-- 댓글 추가 -->
    <insert id="addComment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment (review_id, writer, content, created_at, status)
        VALUES (#{reviewId}, #{writer}, #{content}, NOW(), '정상')
    </insert>

    <!-- 댓글 삭제 -->
    <delete id="deleteComment">
        DELETE FROM comment WHERE id = #{id}
    </delete>

    <!-- 댓글 블라인드 처리 -->
    <update id="toggleBlind">
        UPDATE comment SET status = '신고됨' WHERE id = #{id}
    </update>
	



</mapper>