<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.admin.mapper.FaqAdminMapper">
	<select id="getFaqs" resultType="com.project.admin.model.FaqAdmin">
        SELECT * FROM faq ORDER BY created_at DESC
    </select>

    <insert id="addFaq" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO faq (question, answer, created_at) VALUES (#{question}, #{answer}, NOW())
    </insert>

    <update id="updateFaq">
        UPDATE faq SET question = #{question}, answer = #{answer} WHERE id = #{id}
    </update>

    <delete id="deleteFaq">
        DELETE FROM faq WHERE id = #{id}
    </delete>


</mapper>