<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.visitlog.mapper.VisitMapper">

	<insert id="insert">
		INSERT INTO VISIT_LOG(ID, IP, VISIT_TIME, URL) 
		VALUES(VISIT_SEQ.NEXTVAL, #{ip, jdbcType=VARCHAR},           <!-- jdbcType을 정확히 설정 -->
        #{visitTime, jdbcType=TIMESTAMP},  <!-- TIMESTAMP 설정 -->
        #{url, jdbcType=VARCHAR}  )
	</insert>
</mapper>