@charset "UTF-8";

.registForm {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

.infochange {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 800px;
  background-color: rgba(0, 0, 0, 0.005);
}

/* 제목 스타일 */
.infochange > h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.8rem;
  color: #333;
}

/* 각 입력 필드 스타일 */
.infochange input[type='text'],
.infochange input[type='password'],
.infochange select,
.infochange textarea {
  border: 1px solid #cccccc;
  width: 80%;
}

.infochange select {
  width: 16%;
}

.infochange textarea {
  height: 100px;
}

/* 입력 그룹 (아이디, 닉네임 등) 레이아웃 */
.input-group {
  display: flex;
}

/* 전화번호 입력 그룹 스타일 */
/* 전화번호 입력 필드를 한 줄로 배치 */
.phone-input-group {
  display: flex;
  align-items: center;
}

.phone-input {
  margin-left: 5px;
}

#phone {
  width: 20%;
}

.phone-input-group span {
  font-size: 16px;
  margin: 0 5px;
}

/* 폼의 레이블 스타일 */
.infochange label {
  font-weight: bold;
  font-size: 14px;
}

/* 성별 선택 레이아웃 조정 */
.form-check-inline {
  margin-right: 20px;
}

.errorValid {
  margin-left: 208px;
}

.registSummtBtn {
  border: 1px solid #ff461d00;
  background-color: #ff471d;
  color: white;
}

.registSummtBtn:hover {
  border: 1px solid #ff461d00;
  background-color: #ff461dd2;
    color: white;
}

.btnClub {
  margin-right: 50px;
}

.errors_pass {
  width: 80%;
}

.LoginBg {
  background-color: rgba(0, 0, 0, 0.006);
}
