<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.member.mapper.MemberMapper">
	<insert id="insertMember">
		 INSERT INTO MEMBER (
            no, role, id, pw, email, provider, provider_id, phone, name, nickname, birth,
            gender, money, zip_code, addr1, addr2, star_sum, black, reg_date, img_url, self_pr
        ) VALUES (
            MEMBER_SEQ.NEXTVAL, 0, 1, NULL, #{email}, #{provider}, #{providerId}, NULL, NULL, NULL, NULL,
            NULL, 0, NULL, NULL, NULL, 0, 0, SYSDATE, NULL, NULL
        )
	</insert>

	<select id="findByEmail" resultType="com.project.member.model.Member">
		SELECT * FROM MEMBER WHERE email = #{email}
	</select>

    <select id="idDuplicateCheck" resultType="int">
        SELECT COUNT(*) 
        FROM member 
        WHERE id = #{id}
    </select>
    <select id="nickDuplicateCheck" resultType="int">
        SELECT COUNT(*) 
        FROM member 
        WHERE nickname = #{nickname}
    </select>
    <select id="phoneDuplicateCheck" resultType="int">
        SELECT COUNT(*) 
        FROM member 
        WHERE phone = #{phone}
    </select>

    <insert id="register" parameterType="com.project.member.model.Member">
		INSERT INTO member (
		no, id,pw, email, phone, name, nickname,
		birth, gender, zip_code, addr1, addr2
		) VALUES (
		member_seq.nextval,#{id}, #{pw}, #{email}, #{phone}, #{name},
		#{nickname},
		TO_DATE(#{birth}, 'YYYY-MM-DD'), #{gender}, #{zipCode}, #{addr1},
		#{addr2}
		)
	</insert>
	
	<insert id="updateInfo" parameterType="com.project.member.model.Member">
		update member set pw = #{pw}, email = #{email}, phone= #{phone},
		name=#{name}, nickname=#{nickname},
		birth =TO_DATE(#{birth}, 'YYYY-MM-DD'), gender= #{gender},
		zip_code=#{zipCode}, addr1=#{addr1}, addr2=#{addr2} where no = #{no}
	</insert>
	
	<insert id="updateInfoGoogle" parameterType="com.project.member.model.Member">
		update member set  
		name=#{name}, nickname=#{nickname},
		birth =TO_DATE(#{birth}, 'YYYY-MM-DD'), gender= #{gender},
		zip_code=#{zipCode}, addr1=#{addr1}, addr2=#{addr2} where no = #{no}
	</insert>

	<insert id="registerGoogle" parameterType="com.project.member.model.Member">
		INSERT INTO member (
		no, email, name, nickname, birth, gender, zip_code, addr1, addr2,
		provider, provider_id
		) VALUES ( 
		member_seq.nextval, #{email}, #{name}, #{nickname},
		TO_DATE(#{birth}, 'YYYY-MM-DD'), #{gender}, #{zipCode}, #{addr1},
		#{addr2}, #{provider}, #{providerId}
		)
	</insert>


	<select id="loginCheck" parameterType="com.project.member.model.Member"
		resultType="com.project.member.model.Member">
		SELECT *
		FROM Member
		WHERE ID = #{id} AND PROVIDER = #{provider}
	</select>
	<select id="passCompare" resultType="String">
		SELECT pw
		FROM member
		WHERE id = #{id}
	</select>
	<select id="passCompareNo" resultType="String">
		SELECT pw
		FROM member
		WHERE no = #{no}
	</select>

	<select id="getMemberInfoByNo" parameterType="com.project.member.model.Member"
		resultType="com.project.member.model.Member">
		SELECT *
		FROM member
		WHERE no = #{no}
	</select>
	   <select id="snsRegisteredCheck" resultType="int">
        SELECT COUNT(*) 
        FROM member 
        WHERE provider_id = #{providerId} and provider = #{provider}
    </select>
	   <select id="getSnsInfo" resultType="com.project.member.model.Member">
        SELECT *
        FROM member 
        WHERE provider_id = #{providerId} and provider = #{provider}
    </select>
    <delete id="deleteMemeber">
   		delete from member where no = #{no}
    </delete>
</mapper>
